.container {
    overflow: auto;
    max-height: calc(100vh - 68px);
}

table {
    // table-layout: fixed;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 1px 1px;

    thead tr {
        // background: rgba(255,238,238,.2)!important;
    }

    th,td {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        padding-left: 12px !important;
        font-size: 14px;
        line-height: 14px;
        background: white;
        font-family: Roboto-Regular;
        font-weight: 400;
    }

    th {
        position: sticky;
        padding: 0;
        top: 0;
        height: 26px;
        color: #7c818a;
        z-index: 2;

        &:first-child {
            padding-left: 20px;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            border-bottom: 1px solid #D3D7DE;
        }
    }

    td {
        padding: 8px 12px;
    }
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin: 50px;
}

.post-wrapper {
    padding: 16px 24px;
    background: #fffdf7;
    border: 1px solid #ffd1a9;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
        transition: 0.5s all;
    }
}

.title {
    font-size: 16px;
    font-weight: 500;
}